<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid">
    <a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page"><img class="logo" src="../assets/logo.png" alt="logo"/></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#despre">Despre noi</a>
        </li>
        <li><a class="nav-link" href="#compare">Solutia noastra</a></li>
        <li><a class="nav-link" href="#produse">Produse</a></li>
        <li><a class="nav-link" href="#contact">Contact</a></li>
      </ul>
    </div>
  </div>
</nav>
