

.navbar{
    .navbar-toggler{
        color: whitesmoke;
        margin-right: 1rem;
        padding: 1rem;
    }
    .navbar-nav{
        text-align: center;
    }

    .logo{
        height: 10rem;
    }
}
