<div id="carouselExampleDark" class="carousel carousel-dark slide">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="3" aria-label="Slide 4"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="10000">
      <img src="../../../assets/men-back-sheep.jpg" class="d-block w-100 opacity-50" alt="...">
      <div class="carousel-caption d-flex justify-content-center align-items-center flex-column">
        <h5>Mai putine emisii de carbon</h5>
        <p>In comparatie cu fermele de animale clasice, cresterea insectelor implica un consum de energie redus si absenta emisiilor de gaze rezultate din zootehnia uzuala.</p>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <img src="../../../assets/suprafata.jpg" class="d-block w-100 opacity-50" alt="...">
      <div class="carousel-caption d-flex justify-content-center align-items-center flex-column">
        <h5>Suprafata utilizata redusa</h5>
        <p>Suprafata necesara cresterii insectelor este inzecit mai mica decat cea necesara culturilor agricole.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="../../../assets/journey.png" class="d-block w-100 opacity-50" alt="...">
      <div class="carousel-caption d-flex justify-content-center align-items-center flex-column">
        <h5>Un ciclu de crestere mai rapid</h5>
        <p>In medie, insectele ajung din stadiul de larva pana la maturitate intr-o perioada de aproximativ 21 de zile. O durata semnificativ redusa fata de perioada de productie a furajelor clasice.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="../../../assets/furaje.jpg" class="d-block w-100 opacity-50" alt="...">
      <div class="carousel-caption d-flex justify-content-center align-items-center flex-column">
        <h5>Furaj supra-calitativ</h5>
        <p>In urma procesului de prelucrare, furajele rezultate din insecte prezinta caracteristici calitatve superioare celor traditionale. Acestea fiind bogate in proteine, minerale si alti micronutrienti ce faciliteaza dezvoltarea armonioasa a consumatorilor.</p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>